//--------------------------------------------------------------
// Global Style Import (outside of component styles)
//--------------------------------------------------------------

// Import Sanatize Reset
@import 'node_modules/sanitize.scss/sanitize';

// Import Skeleton Framework
@import 'node_modules/skeleton-scss/scss/skeleton';

// Mixins and Variables
@import 'functions/index';

// WordPress Defaults
@import 'defaults/index';

//-----------------------------------------
// Global View
//-----------------------------------------
.view {
	margin-top: 50px;

	img {
		height: auto;
		max-width: 100%;
		vertical-align: bottom;
	}
}

//-----------------------------------------
// Links
//-----------------------------------------
a {
	color: $gray;
	text-decoration: underline;
	transition: color 0.3s ease-in-out;

	.splash-page & {
		color: $white;
	}

	&:hover,
	&:active,
	&:focus {
		color: $black;
	}
}
